@use "sass:math";

$basesize: 16px;

// funzione per conversione da px a rem
@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}

$columnCount: 12;
@function column($col) {
  @return math.div(100%, $columnCount) * $col;
}

// column gutter
$gutter: 16px;
.col-g-1 {
  width: calc(column(1) - $gutter/2);
}
