@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin flexbox {
  display: flex;
}

@mixin justify-align($justify, $align) {
  justify-content: $justify;
  align-items: $align;
}

@mixin flexDirection($flexDir) {
  flex-direction: ($flexDir);
}

@mixin position($position) {
  position: $position;
}

@mixin alignText($value) {
  text-align: $value;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerPosition() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttonFill($theme) {
  @if ($theme == "light") {
    background-color: $primaryB;
    border-color: $primaryA;
    color: $primaryA;
  }
  @if ($theme == "dark") {
    background-color: $primaryA;
    border-color: $primaryA;
    color: $primaryB;
  }
}

@mixin buttonSize($size) {
  @if $size == "lg" {
    padding: rem($padding-lg);
    font-size: rem($buttonLg);
  }
  @if $size == "md" {
    padding: rem($padding-md);
    font-size: rem($buttonMd);
  }
  @if $size == "sm" {
    padding: rem($padding-sm);
    font-size: rem($buttonSm);
  }
  @if $size == "xs" {
    padding: rem($padding-xs);
    font-size: rem($buttonXs);
  }
}
