.inputForm {
  display: flex;
  width: 375px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: $inputMargin;
}

// i valori di default di input corrispondono allo state 'enabled'
.input {
  @extend %input;
  outline: none;
  appearance: none;

  &:focus {
    background: $primaryB;
    color: $contentPrimary;
    border: 3px solid $borderSelected;
  }

  &.error {
    background: $primaryB;
    color: $contentPrimary;
    border: 3px solid $borderError;
  }

  &.disabled {
    background: $backgroundSecondary;
    color: $contentDisabled;
    font-weight: $contentDisabledFontWeight;
  }
}

.label {
  color: $contentPrimary;
  font-size: $paragraphSm;
  font-weight: $labelFontWeight;

  &.disabled {
    color: $contentDisabled;
  }
}

.hint {
  color: $negative;
  font-size: $paragraphSm;
  font-weight: $hintFontWeight;
}

.inputWrapper {
  @extend %input;
}

.inputPassword {
  background: transparent;
  outline: none;
  appearance: none;
  border: none;
  font-family: $fontPrimary;
  font-size: $paragraphSm;
  font-style: normal;
  font-weight: $inputContentWeight;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex: 1 0 0;
}

.icon {
  display: flex;
  @include size(16px, 16px);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
