.inputForm {
  position: relative;
  display: flex;
  width: 375px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: $inputMargin;
}

.label {
  color: $contentPrimary;
  font-size: $paragraphSm;
  font-weight: $labelFontWeight;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: rem(30px);
  height: rem(30px);
  background-color: $primaryB;
  border: 2px solid $borderSelected;
  border-radius: 6px;
}

.checked {
  @include flexCenter();

  position: absolute;
  top: 50%;
  transform: translate(50%, 30%);
  color: $positive;
  opacity: 0;
  transition: opacity 0.35s ease;

  &.activeChecked {
    opacity: 1;
  }
}
