.App {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

// .row {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;

// &.space-between {
//   justify-content: space-between;
// }
// }

// .row-g {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
// }

// .col-g-1 {
//   background-color: $negative;
// }
