// Font family

$fontPrimary: "Montserrat", sans-serif;

// Font size

$paragraphXs: 12px;
$paragraphSm: 14px;
$paragrapghMd: 16px;
$paragraphLg: 18px;

$heading1: 40px;
$heading2: 36px;
$heading3: 32px;
$heading4: 28px;
$heading5: 24px;
$heading6: 20px;

$buttonXs: 12px;
$buttonSm: 14px;
$buttonMd: 16px;
$buttonLg: 18px;

// Input

$labelFontWeight: 500;
$hintFontWeight: 500;
$inputContentWeight: 500;
$contentDisabledFontWeight: 400;
